<div class="row justify-content-center">
  <div class="col-8">
    <div *ngIf="jugador">
      <h2 data-cy="jugadorDetailsHeading"><span>Jugador</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span>ID</span></dt>
        <dd>
          <span>{{ jugador.id }}</span>
        </dd>
        <dt><span>Apodo</span></dt>
        <dd>
          <span>{{ jugador.apodo }}</span>
        </dd>
        <dt><span>Nombre</span></dt>
        <dd>
          <span>{{ jugador.nombre }}</span>
        </dd>
        <dt><span>Apellido</span></dt>
        <dd>
          <span>{{ jugador.apellido }}</span>
        </dd>
        <dt><span>Fecha Nacimiento</span></dt>
        <dd>
          <span>{{ jugador.fechaNacimiento | formatMediumDate }}</span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
      </button>

      <button type="button" [routerLink]="['/jugador', jugador.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
      </button>
    </div>
  </div>
</div>
