<div class="row justify-content-center">
  <div class="col-8">
    <div *ngIf="partida">
      <h2 data-cy="partidaDetailsHeading"><span>Partida</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span>ID</span></dt>
        <dd>
          <span>{{ partida.id }}</span>
        </dd>
        <dt><span>Puntos</span></dt>
        <dd>
          <span>{{ partida.puntos }}</span>
        </dd>
        <dt><span>Ganador</span></dt>
        <dd>
          <div *ngIf="partida.ganador">
            <a [routerLink]="['/jugador', partida.ganador?.id, 'view']">{{ partida.ganador?.apodo }}</a>
          </div>
        </dd>
        <dt><span>Perdedor</span></dt>
        <dd>
          <div *ngIf="partida.perdedor">
            <a [routerLink]="['/jugador', partida.perdedor?.id, 'view']">{{ partida.perdedor?.apodo }}</a>
          </div>
        </dd>
        <dt><span>Juego</span></dt>
        <dd>
          <div *ngIf="partida.juego">
            <a [routerLink]="['/juego', partida.juego?.id, 'view']">{{ partida.juego?.nombre }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
      </button>

      <button type="button" [routerLink]="['/partida', partida.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
      </button>
    </div>
  </div>
</div>
